<div class="text-center mt-5 ">
  
  <div class="row">
    <div class="col">
      <h2> All Genres </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
    </div>

    <div class="col-6">
      <table class="table table-striped mt-5 ">
        <thead>
          <tr>
            <th>Title</th>
            <th>Books</th>
          </tr>
        </thead>
        <tbody>
          <% @genre.each do |genre| %>
            <tr>
              <td> <%= genre.title %> </td>
              <td> <%= raw(genre.books.pluck(:title).join('<br>')) %> </td>
              <td> <%= link_to 'Details', genre_path(genre), class: 'btn btn-info' %> </td>
              <td> <%= button_to 'Delete', genre, method: :delete , class: 'btn btn-info'%> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-3">
    </div>
  </div>
</div>

